$mediaWidthXSS: 360px;
$mediaWidthXS: 480px;
$mediaWidthSM: 600px;
$mediaWidthMD: 768px;
$mediaWidthLG: 1024px;
$mediaWidthX: 1100px;
$mediaWidthXL: 1280px;
$mediaWidthXLL: 1440px;
$mediaWidthMax: 1920px;
