/* You can add global styles to this file, and also import other style files */

//@import "./styles/fonts";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@300;500&display=swap');

@import "./styles/colors";

* {
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lilita One", sans-serif !important;

  app-root {
    height: 100%;
  }
}
