@import "../../../../styles/typography";

:host {
  display: inline-flex;
  width: 100%;

  input {
    @include font_Inp1;
    width: 100%;
    border-radius: 50px;
    background-color: var(--primary-50);
    outline: none;
    border: none;
    color: var(--white);
    text-align: center;
    padding: 8.5px 84px;

    &::placeholder {
      color: var(--white);
    }
  }
}
